li {
    border: 2px solid black;
    width: 500px;
    background-color: #ffffff5e;
}

ul {
    list-style-type:none;
}

body {
    background-color: #BC2720;
}

#searchResults {
    background-color: rgb(18, 90, 185);
    width: 50%;
}

img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

form {
    font-size: 20px;
    font-weight: bold;
}

grass {
    background-color: rgb(12, 150, 12);
    color: white;
}

poison {
    background-color: rgb(119, 3, 119);
    color: white;
}

fire {
    background-color: rgb(241, 72, 10);
    color: white;
}

flying {
    background-color: rgb(76, 186, 230);
    color: white;
}

dragon {
    background-color: rgb(85, 11, 182);
    color: white;
}

water {
    background-color: rgb(7, 10, 211);
    color: white;
}

bug {
    background-color: rgb(110, 201, 5);
    color: white;
}

normal {
    background-color: rgb(161, 145, 121);
    color: white;
}

dark {
    background-color: rgb(44, 38, 38);
    color: white;
}