li {
    border: 2px solid black;
    width: 500px;
}

ul {
    list-style-type:none;
}

img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

form {
    font-size: 20px;
    font-weight: bold;
}